@model Models.EF.Product

@{
    ViewBag.Title = "ViewUser";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Tên Sản Phẩm</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Mã Sản Phẩm</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Loại Sản Phẩm</label>(<span style="color:#FF0000">*</span>)
                @Html.DropDownListFor(model => model.CategoryID, (SelectList)ViewBag.CategoryID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Bảo Hành</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.Warranty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Warranty)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Gía Sản Phẩm</label>(<span style="color:#FF0000">*</span>)
                <div class="input-group m-bot15">
                    <span class="input-group-addon">$</span>
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                    <span class="input-group-addon">.000</span>
                </div>
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Gía Khuyễn Mãi</label>(<span style="color:#FF0000">*</span>)
                <div class="input-group m-bot15">
                    <span class="input-group-addon">$</span>
                    @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control" })
                    <span class="input-group-addon">.000</span>
                </div>
                @Html.ValidationMessageFor(model => model.PromotionPrice)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Số Lượng</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", placeholder = "Số Lượng..." })
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Ngày Nhập</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control form_datetime datepicker", placeholder = "Ngày Nhập..." })
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Ngày Hết Hạn</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.ModifiedDate, new { @class = "form-control form_datetime datepicker", placeholder = "Ngày Hết Hạn..." })
                @Html.ValidationMessageFor(model => model.ModifiedDate)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Số Lượng</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", placeholder = "Số Lượng..." })
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>
        <div class="col-lg-4">
            @*<input type="text" name="Picture" id="txthinhanh2" class="form-control" placeholder="Hình Ảnh">*@
            @Html.TextBoxFor(model => model.Image, new { @class = "form-control", placeholder = "Hình Ảnh..." })
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary" id="btnSelectImage2">
                <i class="fa fa-arrow-circle-o-down"></i>
                <span>Chọn Ảnh</span>
            </button>
        </div>
        @*<div class="col-lg-12">
            <div class="form-group">
                <label>Thẻ Seo</label>(<span style="color:#FF0000">*</span>)
                <input name="tagsinput" id="tagsinput" class="tagsinput" value="" />
            </div>
        </div>*@
        <div class="col-lg-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Mô Tả Tóm Tắt</label>
                @*<textarea id="editor4" name="Description"></textarea>*@
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "txtDescription" })
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Mô Tả Chi Tiết</label>
                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", id = "txtDetail" })
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<link href="~/Contents/Administrator/assets/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
<script src="~/Contents/Administrator/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Contents/Administrator/js/jquery.tagsinput.js"></script>
<script src="~/Contents/Administrator/assets/ckfinder/ckfinder.js"></script>
<script src="~/Contents/Administrator/assets/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datetimepicker(); //Initialise any date pickers
    });
    $('#tagsinput').tagsInput();

    var editor = CKEDITOR.replace('txtDescription', {
        customConfig: '/Contents/Administrator/assets/ckeditor/config.js',
    });
    var editor = CKEDITOR.replace('txtDetail', {
        customConfig: '/Contents/Administrator/assets/ckeditor/config.js',
    });


    $('#btnSelectImage2').on('click', function (e) {
        e.preventDefault();
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            $('#Image').val(url);
        };
        finder.popup();
    })
</script>

